body {
    font-family: Arial;
    background: #f8f2ff;
    text-align: center;
}

h1 {
    color: #6a0dad;
}

button {
    padding: 10px 20px;
    background: #ff4081;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #e91e63;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}