{% extends "base.html" %}
{% block content %}
<div class="card small">
  <h2>Welcome Back</h2>

  <form method="POST">
    <input type="text" name="username" placeholder="Username" required value="{{ prefill.username if prefill else '' }}">

    <div class="password-box">
      <input type="password" name="password" id="password" placeholder="Password" required value="{{ prefill.password if prefill else '' }}">
      <span onclick="togglePassword()">👁</span>
    </div>

    <button class="btn">Login</button>
  </form>

  <p class="signup-link">Don't have an account? <a href="/signup">Sign up</a></p>

</div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      {% if category == 'signup' %}
        <p class="signup-message">{{ message }}</p>
      {% endif %}
    {% endfor %}
  {% endwith %}

  <script>
  function togglePassword(){
      let p = document.getElementById("password");
      p.type = p.type === "password" ? "text" : "password";
  }
  </script>

{% endblock %}
